.site-main{ 
    margin: 0px;
    width: 1257px;
}

.side-header{
padding: 20px;


}

.site-logo-wrappen{
margin-right: 500px;
width: 150px;
}

.nav-bar{



}

.list{
list-style: none;

}

.list-item{
margin-right: 20px;

}











