.title{
color: rgb(255, 0, 0);
background-color: blue;
text-align: right;
font-size: 20px;
font-family:sans-serif;

  border-color: red;
border-width: 1px;
border: 5px solid rgb(255, 0, 0);
border-radius: 5px;

}

.text {
text-align: justify;
font-size: 18px;
font-weight: 500px;
font-style: italic;
line-height: 18px;
line-height: 30px;
letter-spacing: 1px;
word-spacing: 20px;


text-transform: none;
text-decoration: overline underline;
text-decoration-color: red;
text-decoration-style: solid;
text-indent: 100px;
text-shadow: 1px 2px 1px green;


}

















